@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(101, 153, 222);
  min-height: 100vh;
}

.chronometre {
  padding: 10px;
  width: 400px;
  border-radius: 6px;
  background-color: white;
  text-align: center;
}

.tim {
  margin: auto;
  width: 100%;
  border: 1px solid rgb(84, 84, 83);
  border-radius: 6px;
  padding: 5px 0;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 10px;
}

.tim span {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  padding: 5px;
}
